@import "~materialize-css/dist/css/materialize.min.css";

body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%
}

body {
    font-family: Roboto, sans-serif;
    font-size: 13px;
    -webkit-font-smoothing: antialiased
}

main {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {

    .sidenav.sidenav-fixed {
        transform: unset;
    }
}

@media only screen and (min-width: 993px) {
    .container {
        width: 90%;
    }
}

@media only screen and (max-width: 992px) {
    nav .brand-logo {
        left: unset;
        transform: unset;
    }
}

nav {
    margin-bottom: 3em;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-right {
    margin-left: auto;
    padding-right: 1em;
}

.brand-logo {
    margin: 0 0 0 1em;
}


.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 100% !important;
}

.files input:focus {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
    transition: outline-offset .15s ease-in-out, background-color .15s linear;
    border: 1px solid #FD6469;
}

.files {
    position: relative
}

.files:after {
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}

.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;
    pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}

.files-enter input {
    outline: 2px dashed #FD6469;
    outline-offset: -5px;
}

.files-in input {
    outline: 5px dashed #92b0b3;
    outline-offset: -5px;
}

/**/
.row-center {
    display: flex;
    justify-content: center;
}

/**/


/*@media only screen and (min-width: 601px) {*/
/*    .card-columns {*/
/*        column-count: 2;*/
/*    }*/
/*}*/

/*@media only screen and (min-width: 993px) {*/
/*    .card-columns {*/
/*        column-count: 3;*/
/*    }*/
/*}*/
.card-columns .card {
    display: inline-block;
    width: 100%;
}

@media (min-width: 356px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}


/**/
.parallax {
    background-color: black;
}
.parallax img {
    width: 100% !important;
    height: auto !important;
    object-fit: cover !important;
    opacity: 0.8 !important;
}

.card .card-image .card-title {
    padding: 0.3em;
    background-color: rgba(0, 0, 0, 0.32);
    border-radius: 0 5px 0 0;
}
